main {
  background-color: var(--dark-grayish-blue);
  margin: auto auto 0;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  max-width: 23.43em;
  width: 100%;

  @media screen and (min-width: $bp-medium) {
    max-width: 26rem;
  }

  .heading {
    font-size: 0.7rem;
    color: var(--neon-green);
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 1rem;
  }

  #advice {
    font-size: 1.5rem;
  }

  .pattern {
    padding: 2rem 0 0;

    img {
      width: 100%;

      @media screen and (min-width: $bp-medium) {
        content: url(../images/pattern-divider-desktop.svg);
      }
    }
  }

  #generate-btn {
    background-color: var(--neon-green);
    border: none;
    border-radius: 50%;
    padding: 1rem;
    transition: box-shadow 0.1s ease;
    margin-bottom: -2rem;
    transform: translateY(2rem);
    outline: none;
    cursor: pointer;

    &:active {
      box-shadow: 0 0 30px var(--neon-green);
    }
  }
}

.spinner {
  font-size: 3rem;
  border: 3px solid var(--neon-green);
  border-top-color: var(--grayish-blue);
  border-bottom-color: var(--grayish-blue);
  height: 2rem;
  width: 2rem;
  margin: auto;
  border-radius: 50%;
  display: none;

  transition: all 0.2s ease;

  animation-name: spin;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

///////
.advice-contents {
  height: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(1rem) scale(0.9);
  transition: all 0.5s ease;
}

.show-contents {
  height: auto;
  opacity: 1;
  visibility: visible;
  transform: translateY(0) scale(1);
}
